$purple: #161032;
$yellow: #ffc53a;

* {
    box-sizing: border-box;
}

body {
    margin: 0px auto;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

.button-1 {
    background: #ffc53a;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.regular-text {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

header {
    display: grid;
    height: 9.313rem;
    grid-template-columns: 21.094vw 54.167vw 24.792vw;
    background-color: $purple;

    .logo {
        width: 6.25rem;
        height: 6rem;
        top: 1.5rem;
        background-image: url("../Group\ 1418.png");
        background-size: contain;
        background-repeat: no-repeat;
        justify-self: end;
        position: relative;
    }
    .menu {
        display: grid;
        width: 37.344vw;
        height: 2.5rem;
        gap: 1.172vw;
        grid-template-columns: repeat(6, auto);
        left: 12.3125rem;
        position: relative;
        align-items: center;
        justify-items: center;
        align-self: center;
        a {
            text-decoration: none !important;
            color: $yellow;
        }
    }
    .header-button {
        width: 10.6875rem;
        height: 3.625rem;
        justify-self: start;
        align-self: center;       
    }
}
