$purple: #161032;
$yellow: #ffc53a;
$font-family: "Montserrat Alternates";

* {
    box-sizing: border-box;
}
p {
    margin: 0;
}

html {
    font-size: 0.833vw;
}

body {
    margin: 0px auto;
}

.button-1 {
    background: #ffc53a;
    box-shadow: 0.0625rem 0.1875rem 1.25rem rgba(209, 24, 24, 0.25);
    border-radius: 1.25rem;
    cursor: pointer;
    border: none;
}

.regular-text {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.regular-text-2 {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.heading-2 {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #ffffff;
}

header {
    display: grid;
    height: 9.313rem;
    grid-template-columns: 25.3125rem 65rem 29.6875rem;
    background-color: $purple;

    .logo {
        width: 6.25rem;
        height: 6rem;
        top: 1.5rem;
        background-image: url("../Group\ 1418.png");
        background-size: contain;
        background-repeat: no-repeat;
        justify-self: end;
        position: relative;
    }
    .menu {
        display: grid;
        width: 44.8125rem;
        height: 2.5rem;
        gap: 1.4063rem;
        grid-template-columns: repeat(6, auto);
        left: 12.3125rem;
        position: relative;
        align-items: center;
        justify-items: center;
        align-self: center;
        a {
            text-decoration: none !important;
            color: $yellow;
        }
    }
    .header-button {
        width: 10.6875rem;
        height: 3.625rem;
        justify-self: start;
        align-self: center;
    }
}

.black {
    position: relative;
    width: 120rem;
    height: 52.125rem;
    background-color: black;

    .black-text {
        position: absolute;
        width: 44.8125rem;
        height: 4.3125rem;
        left: 19.0625rem;
        top: 15.1875rem;
        .public {
            margin-bottom: 1.25rem;
        }
        .france {
        }
    }

    .buttons-down {
        position: absolute;
        top: 45rem;
        left: 19.0625rem;
        .button-v {
            width: 7.3125rem;
            height: 3.5rem;
            margin-right: 1.25rem;
        }
        .button-o {
            width: 10.9375rem;
            height: 3.5rem;
            border: none;
            outline: none;
            position: relative;
            z-index: 1;
            border-radius: 1.25rem;
            background-color: black;
            color: $yellow;
            background: linear-gradient(180deg, rgba(255,197,58,1) 0%, rgba(255,197,58,0.3) 100%);
            cursor: pointer;
        }
        .button-o::before {
            content: "";
            position: absolute;
            left: 1px;
            right: 1px;
            top: 1px;
            bottom: 1px;
            border-radius: 1.25rem;
            background-color: black;
            color: $yellow;
            z-index: -1;
        }
    }
    .white-pic {
        float: right;
        width: 36.5rem;
        height: 36.5rem;
        left: 64.1875rem;
        top: 7.8125rem;
        position: absolute;
        background-image: url("../banner-b.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 1024px) {
    .regular-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .regular-text {
        font-size: 12px;
    }
}
